@{
    ViewData["Title"] = "Student Page";
    Layout = "_StudentLayout";
}
<style>
    html, body {
    height: 100%;
    background-color: #63A7AC;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    .card1 {
        width: 390px;
        height: 200px;
        border-radius: 15px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        cursor: pointer;
    }
    .card2 {
        width: 390px;
        height: 200px;
        border-radius: 15px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        cursor: pointer;
    }
    .tasks {
        color: white;
    }
    .row1 {
        padding-top: 40px;
        padding-bottom: 10px;
        margin-left: 10px;
    }
    .searchbutton {
        background-color: #EBB542;
        border-color: #EBB542;
        border-radius: 15px;
        color: white;
    }
    .continue {
        background-color: white;
        color: #63A7AC;
        font-size: 18px;
        width: 8rem;
        margin-left: 40px;
        border-color: white;
        margin-left: 230px;
    }
    .continue:hover {
        text-decoration: underline;
        background-color: white;
        color: #63A7AC;
        font-size: 18px;
        width: 8rem;      
        border-color: white;
    }
    hr {
        border-color: white;
        border-top: 1px;
    }
    .due {
        color: #EBB542;
    }
</style>

<div class="container-fluid">
    <div class="row row1">
        <div class="col-xl-4 col-lg-4">
            <div class="tasks">
            <h2>Tasks(1)</h2>
        </div>
        </div>
        <div class="col-xl-4 col-lg-4">         
        </div>
        <div class="col-xl-4 col-lg-4">
          <form class="form-inline searchbar">
            <input class="form-control mr-sm-2 search+button" type="search" placeholder="Search Tasks" aria-label="Search">
            <button class="btn searchbutton my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-4" style="text-align: left">
            <div class="card card1 border-info btn">
                        <h5 class="card-header bg-white text-info">Lesson 1</h5>
                        <div class="card-body" style="text-align: left">
                            <p>25% complete</p>
                            <div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

                        </div>
                        <div class="btn continue btn-primary mt-auto">Continue ></div>
                    </div>
        </div>    
    </div>
     
     <div class="row row1">
         <hr />
        <div class="col-xl-4 col-lg-4">
            <div class="tasks">
            <h2>Assessment(1)</h2>
        </div>
        </div>
        <div class="col-xl-4 col-lg-4" style="text-align: right">
         
        </div>
        <div class="col-xl-4 col-lg-4" style="text-align: right">
             <form class="form-inline searchbar2">
            <input class="form-control mr-sm-2 search+button" type="search" placeholder="Search Assessment" aria-label="Search Tasks">
            <button class="btn searchbutton my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-4" style="text-align: left">
            <div class="card card2 border-info btn">
                        <h5 class="card-header bg-white text-info">Part A Assessment</h5>
                        <div class="card-body" style="text-align: left">
                            <p class ="due">Due 23rd August, 11.59pm</p>
                            <p class ="classname">Class 1</p>
                        </div>
                        <div class="btn continue btn-primary mt-auto">Continue ></div>
                    </div>
        </div>    
    </div>
    
</div>