<link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

<style>
    .search+button {
        width: 350px;
    }
    .navbar {
        background-color: #63A7AC; 
    }
    .searchbar {
        margin-top: 15px;
    }
    .searchbutton {
        background-color: #EBB542;
        border-color: #EBB542;
        border-radius: 15px;
        color: white;
    }
	.card {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}
	.tabletitle {
		margin-top: 30px;
	}
	.btn1 {
		background-color: #EBB542;
        border-color: #EBB542;
        border-radius: 15px;
        color: white;
	}
	.btn1:hover {
		background-color: #F6BC3D;
        border-color: #F6BC3D;
	}
	.createlesson {
		color: #63A7AC;
		background-color: white;
		margin-top: 30px;
		border-color: white;
		font-size: 20px;
	}
	.createlesson:hover {
		text-decoration: underline;
		color: #63A7AC;
		background-color: white;
		margin-top: 30px;
		border-color: white;
		font-size: 20px;
	}
	.searchbutton:hover {
		background-color: #F6BC3D;
        border-color: #F6BC3D;
		color: white;
	}

</style>

<!-- Nav Bar -->
@{
    ViewData["Title"] = "Teacher Page";
    Layout = "_TeacherLayout";
}
<!-- end Nav Bar -->
<div class="row">
        <nav class="navbar navbar-light" style="justify-content: center">
          <form class="form-inline searchbar">
            <input class="form-control mr-sm-2 search+button" type="search" placeholder="Search" aria-label="Search">
            <button class="btn searchbutton my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
		</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-xl-4 col-lg-4 colw" style="justify-content: left">
            <div class="card">
			<div class="card-body">
				<div class="d-grid"> <a href="javascript:;" class="btn btn-primary btn1">+ Create New Lesson</a>
				</div>
				<h5 class="my-3">My Lesson Plans</h5>
				<div class="fm-menu">
					<div class="list-group list-group-flush"> <a href="javascript:;" class="list-group-item py-1"><i class="bx bx-folder me-2"></i><span>All Lessons</span></a>
						<a href="javascript:;" class="list-group-item py-1"><i class="bx bx-devices me-2"></i><span>My Devices</span></a>
						<a href="javascript:;" class="list-group-item py-1"><i class="bx bx-analyse me-2"></i><span>Recents</span></a>
						<a href="javascript:;" class="list-group-item py-1"><i class="bx bx-plug me-2"></i><span>Important</span></a>
						<a href="javascript:;" class="list-group-item py-1"><i class="bx bx-trash-alt me-2"></i><span>Deleted Lessons</span></a>
						<a href="javascript:;" class="list-group-item py-1"><i class="bx bx-file me-2"></i>
                    <span>Documents</span></a>
						<a href="javascript:;" class="list-group-item py-1"><i class="bx bx-image me-2"></i><span>Images</span></a>
						<a href="javascript:;" class="list-group-item py-1"><i class="bx bx-video me-2"></i><span>Videos</span></a>
						<a href="javascript:;" class="list-group-item py-1"><i class="bx bx-music me-2"></i><span>Audio</span></a>
					</div>
				</div>
			</div>
		</div>
      </div>
      <div class="col-8 mx-auto">
		  <div class="row">
			 <div class ="tabletitle"><h2><i class="bx bx-folder me-2"></i><span>All Lessons</span></h2></div>
		  </div>
          <div class="table-responsive mt-3">
					<table class="table table-striped table-hover table-sm mb-0">
						<thead>
							<tr>
								<th>Name <i class="bx bx-up-arrow-alt ms-2"></i>
								</th>
								<th>Owner</th>
								<th>Last Modified</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div><i class="bx bxs-file-pdf me-2 font-24 text-danger"></i>
										</div>
										<div class="font-weight-bold text-danger">Farming Technology</div>
									</div>
								</td>
								<td>Me</td>
								<td>Sep 3, 2019</td>
								<td><i class="fa fa-ellipsis-h font-24"></i>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div><i class="bx bxs-file me-2 font-24 text-primary"></i>
										</div>
										<div class="font-weight-bold text-primary">How to use technology to enhance production</div>
									</div>
								</td>
								<td>Me</td>
								<td>Jun 12, 2019</td>
								<td><i class="fa fa-ellipsis-h font-24"></i>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div><i class="bx bxs-file me-2 font-24 text-primary"></i>
										</div>
										<div class="font-weight-bold text-primary">10 Principles</div>
									</div>
								</td>
								<td>Me</td>
								<td>Jul 17, 2019</td>
								<td><i class="fa fa-ellipsis-h font-24"></i>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div><i class="bx bxs-file-pdf me-2 font-24 text-danger"></i>
										</div>
										<div class="font-weight-bold text-danger">Meeting Report</div>
									</div>
								</td>
								<td>Me</td>
								<td>Aug 28, 2019</td>
								<td><i class="fa fa-ellipsis-h font-24"></i>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div><i class="bx bxs-file me-2 font-24 text-primary"></i>
										</div>
										<div class="font-weight-bold text-primary">Project Documents</div>
									</div>
								</td>
								<td>Me</td>
								<td>Aug 17, 2019</td>
								<td><i class="fa fa-ellipsis-h font-24"></i>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div><i class="bx bxs-file-doc me-2 font-24 text-success"></i>
										</div>
										<div class="font-weight-bold text-success">Review Checklist Template</div>
									</div>
								</td>
								<td>Me</td>
								<td>Sep 8, 2019</td>
								<td><i class="fa fa-ellipsis-h font-24"></i>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div><i class="bx bxs-file me-2 font-24 text-primary"></i>
										</div>
										<div class="font-weight-bold text-primary">How to Create a Case Study</div>
									</div>
								</td>
								<td>Me</td>
								<td>Jun 12, 2019</td>
								<td><i class="fa fa-ellipsis-h font-24"></i>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div><i class="bx bxs-file me-2 font-24 text-primary"></i>
										</div>
										<div class="font-weight-bold text-primary">Landing Page Structure</div>
									</div>
								</td>
								<td>Me</td>
								<td>Jul 17, 2019</td>
								<td><i class="fa fa-ellipsis-h font-24"></i>
								</td>
							</tr>
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div><i class="bx bxs-file-doc me-2 font-24 text-success"></i>
										</div>
										<div class="font-weight-bold text-success">Review Checklist Template</div>
									</div>
								</td>
								<td>Me</td>
								<td>Sep 8, 2019</td>
								<td><i class="fa fa-ellipsis-h font-24"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
      </div>
    </div>
</div>



