<style>
    .container-fluid {
        height: 100%;
        overflow-y: hidden;
    }
    html, body {
         height: 100%;
         background-image: url("/images/Untitled-1.jpg");
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
}
    .body-film {
         min-height: 100%;
         overflow-y: scroll;
}
    .card {
         width: 400px;
         margin-left: auto;
         margin-right: auto;
         margin-top: 120px;
         border-radius: 15px;
    }
      .btn-outline-secondary {
         border-radius: 21px;
     }
      .btn-outline-secondary:hover {
        background-color: #BCD9DB;
        border-color: #BCD9DB;
        color: black;
    }
     .image2 {
        margin-right: 10px;
        height: 30px;
        width: 30px;
    }
    .input-group-text {
         background-color: white;
         border-right: 0px;
     }
     .form-control {
         border-left: 0px;
     }
     .password {
         margin-right: 2px;
     }
     .form-control:focus {
         outline-color: transparent;
         outline-style:solid;
         box-shadow: 0 0 0 1px #BCD9DB;
     }
      .btn1  {
        background-color: #63A7AC;
        color: white;
        border-radius: 25px;
        font-size: 18px;
        height: 50px;       
        margin-bottom: 15px;
    }
    .btn1:hover {
        color: white;
        background-color: #6AB7BC;
    }
    .para1 {
        margin-left: 25px;
        color: #63A7AC;
    }
    .checkbox {
        margin-left: 10px;
    }
    .pic11 {
        position: absolute;
        top: -110px;
        left: 33%;
        margin-left: -30px;
        width: 50% !important;
    }
    .google {
        margin-top: 50px;
    }
</style>



<div class="container-fluid">
    <div class="row"> 
        <div class="col-xlg-11 col-md-12 col-sm-12 p-5">             
            <div class="card bg-white">
                 <img src="/images/7176b09a-e0f1-4c18-943d-4f33943b0943.png" class="pic11">
                <article class="card-body mx-auto" style="max-width: 400px;">      
                    <!--google logo-->
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

                    <p>
                         <button class="btn btn-outline-secondary btn-block google">
                             <img src="/images/icons8-google-48.png" class="image2" width="20"/> Sign In with Google
                        </button>
                    </p>

                    <div class="d-flex pb-3">
                        <hr class="my-auto flex-grow-1">
                        <div class="px-4 text-muted">or</div>
                        <hr class="my-auto flex-grow-1">
                    </div>
                    <form action="" method="post">
                          <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Username" type="email">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock fa-lg"></i> </span>
                            </div>
                            <input class="form-control password" placeholder="Password" type="password">
                        </div> <!-- form-group// -->

                        <div class="form-group row">
                          
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember" class="checkmate">  Remember Me
                                    </label>
                                </div>
                            
                        </div>
                        <button type="submit" class="btn btn-block btn1">Log in</button>
                         <a href="#" class="btn btn-link">
                                    <p class="para1">Forgot Your Password?</p>
                                </a>

                       
                          
                                
                        
                           
                               
                           
                    

                    </form>
                </article>
            </div>
            <!-- card.// -->
        </div>
    </div>
</div>


