<div class="container-fluid">
    <div class="row">
         <a class="navbar-brand" href="#">
            <img src="/images/e128bd20-c2c6-4b73-a09f-007aa4b3140c.png" class="d-inline-block" style="width: 120px; height: auto;" alt="" loading="lazy">
        </a>
    </div>
</div>