<style>
    .btn1
    {
        background-color: #63A7AC;
        color: white;
        border-radius: 21px;
    }
    .btn1:hover {
        color: white;
        background-color: #6AB7BC;
    }
    .bg-info1 {
        background-color: #63A7AC;

       
    }
    .img-fluid {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .image2 {
        margin-right: 10px;
        height: 30px;
        width: 30px;
    }
    .btn-outline-secondary:hover {
        background-color: #BCD9DB;
        border-color: #BCD9DB;
        color: black;
    }
     .btn-outline-secondary {
         border-radius: 21px;
     }
     .input-group-text {
         background-color: white;
         border-right: 0px;
     }
     .form-control {
         border-left: 0px;
     }
     .form-control:focus {
         outline-color: transparent;
         outline-style:solid;
         box-shadow: 0 0 0 1px #BCD9DB;
     }
     .p1 {
         text-align: center;
     }

</style>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-xlg-1 col-md-2 col-sm-12 bg-info1  p-lg-3 text-md-center">
            <img src="/images/7176b09a-e0f1-4c18-943d-4f33943b0943.png" class="img-fluid" alt="..." style="max-height: 12rem; width: auto;min-width:13rem; ">
        </div>
        <div class="col-xlg-11 col-md-10 col-sm-12 p-5">
            
                <article class="card-body mx-auto" style="max-width: 500px;">
                    <h1 class="card-title mt-3 text-center text-info">Register Now</h1>
                    <p class="text-center">Get started with your free account!</p>
                    <p>
                        <button class="btn btn-outline-secondary btn-block">
                             <img src="/images/icons8-google-48.png" class="image2" width="20"/> Sign In with Google
                        </button>
                    </p>

                    <div class="d-flex pb-3">
                        <hr class="my-auto flex-grow-1">
                        <div class="px-4 text-muted">or</div>
                        <hr class="my-auto flex-grow-1">
                    </div>

                            <form>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="First Name*" type="text">
                        </div> <!-- form-group// -->
                          <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Last Name*" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Email*" type="email">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" placeholder="Create Password*" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" placeholder="Repeat Password*" type="password">
                        </div> <!-- form-group// -->
                        <p class="p1"> By signing up you agree to our <b>terms of use</b>, <b>privacy policy</b>, <b>collection statement</b>.</p>
                        <div class="form-group pt-3">
                            <button type="submit" class="btn btn-block btn1"> Create Account  </button>
                        </div> <!-- form-group// -->
                        <p class="text-center">Have an account? <a href="">Log In</a> </p>

                       
                    </form>
                </article>
            
            <!-- card.// -->
        </div>
    </div>
</div>


