<style>
     .search + button {
        width: 350px;
    }

    .navbar {
        background-color: #63A7AC;
    }

    .searchbar {
        margin-top: 15px;
    }
    .searchbutton {
        background-color: #EBB542;
        border-color: #EBB542;
        border-radius: 15px;
        color: white;
    }
    .card2 {
        width: 390px;
        height: 250px;
        border-radius: 15px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        cursor: pointer;
        margin-top: 50px;
    }
    .card3 {
        margin-top: 50px; 
    }
    .continue {
        background-color: #EBB542;
        color: white;
        font-size: 18px;
        width: 10rem;
        margin-left: 40px;
        border-color: #EBB542;
        margin-left: 100px;
        border-radius: 15px;
    }
    h3 {
        margin-left: 20px;
        margin-bottom: 20px;
    }
</style>

@{
    ViewData["Title"] = "Teacher Page";
    Layout = "_TeacherLayout";
}
<div class="row row1">
 <nav class="navbar" style="justify-content: center">
          <form class="form-inline searchbar">
            <input class="form-control mr-sm-2 search+button" type="search" placeholder="Search" aria-label="Search">
            <button class="btn searchbutton my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-lg-4">
            <!--Assessment card-->
                <div class="card card2 border-info btn">
                        <h5 class="card-header bg-white text-info">Part A Assessment</h5>
                        <div class="card-body" style="text-align: left">
                            <p class ="due">Due 23rd August, 11.59pm</p>
                            <p class ="classname">Class 1</p>
                            <p class ="classname">3 Students</p>
                        </div>
                        <div class="btn continue btn-primary mt-auto">Begin Marking</div>
                    </div>         
            <!--End of Assessment card-->
        </div>
        <div class="col-xl-8 col-lg-8">               
                <div class="card d-block d-block mx-auto card3" style="max-width: 50rem;">
                    <div class="card-body">
                        
                        <table class="table-hover table-striped container-fluid">
                            <thead>
                                <tr>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">ID</th>
                                    <th scope="col" class="pl-2">Status</th>
                                    <th scope="col">Submission Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @{string status = "Complete";}
                                    <td scope="row">Mark</td>
                                    <td>Otto</td>
                                    <td>25</td>
                                    @if (status == "Complete")
                                    {
                                        <td class="text-warning">Complete</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">Incomplete</td>
                                    }
                                    <td></td>
                                </tr>
                                <tr>
                                    <td scope="row">Jacob</td>
                                    <td>Thornton</td>
                                    <td>32</td>
                                    @if (status == "Complete")
                                    {
                                        <td class="text-warning">Complete</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">Incomplete</td>
                                    }
                                    <td></td>
                                </tr>
                                <tr>
                                    <td scope="row">Larry</td>
                                    <td>the Bird</td>
                                    <td>42</td>
                                    @if (status == "Complete")
                                    {
                                        <td class="text-warning">Complete</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">Incomplete</td>
                                    }
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
   
        </div>
    </div>







    
</div>


