<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/688306645?h=cce7b94e0d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Untitled"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<div class="container-fluid">
    <div class="row">
         <a class="navbar-brand" href="#">
            <img src="/images/e128bd20-c2c6-4b73-a09f-007aa4b3140c.png" class="d-inline-block" style="width: 120px; height: auto;" alt="" loading="lazy">
        </a>
    </div>
</div>